{% extends 'base.html' %} {% load static %} {% block content %}
<div class="container">
    <div class="row align-items-center mb-4">
        <div class="col">
            <h2>Drugs</h2>
        </div>
        <div class="col offset-md-4">
            <input type="text" class="form-control" id="searchDrugs" onkeyup="searchDrugs()" placeholder="Seach Drugs">
        </div>
    </div>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
        ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
        voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
        non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
    <table id="drugsTable" class="table table-hover table-borderless">
        <thead>
            <tr>
                <th scope="col">Drug Name</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for drug in drugs %}
                <tr class="click-drug" onclick="location.href='/{{drug.drugname}}'">
                    <th>
                        {{drug.drugname.capitalize}}
                    </th>
                    <td>
                    {% if drug.isopioid == "TRUE" %}
                        <span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 172 172">
                                <g fill="#dc3545">
                                    <path d="M112.58386,17.23359c-10.81732,0 -21.63422,4.10947 -29.85364,12.32891l-53.16771,53.16771c-16.43887,16.43887 -16.43887,43.26841 0,59.70729c0.53534,0.53352 1.17087,0.95594 1.87005,1.24297c0.01119,0.00377 0.02238,0.0075 0.03359,0.0112c16.53944,14.79741 41.92464,14.62484 57.80364,-1.25417l53.16771,-53.16771c16.43888,-16.43887 16.43888,-43.26841 0,-59.70729c-8.21944,-8.21971 -19.03632,-12.32891 -29.85364,-12.32891zM112.58386,28.63307c7.85901,0 15.71846,3.00882 21.74636,9.03672c12.05579,12.05579 12.05579,31.43692 0,43.49271l-12.25052,12.25052l-10.27969,10.27969c-2.24173,2.24173 -5.86009,2.2472 -8.09609,0.0112c-7.59667,-7.6024 -23.24688,-23.25808 -23.24688,-23.25808h-0.0112c-4.47781,-4.47686 -11.73677,-4.47686 -16.21458,0l-18.2974,18.31979c-2.24173,2.24173 -5.87129,2.24173 -8.10729,0c-2.22185,-2.22185 -2.22724,-5.79966 -0.04479,-8.0401l53.05573,-53.05573c6.02789,-6.0279 13.88734,-9.03672 21.74636,-9.03672z"></path>
                                </g>
                            </svg>
                        </span>
                        {% endif %}
                    </td>

                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
