{% extends 'base.html' %} {% load static %} {% block content %}
<div class="container">
    <div class="px-4 py-5 my-5 text-center">
        <h5>This is a</h5>
        <h1 class="display-4 fw-bold">Tiny intro</h1>
        <h1 class="display-4 fw-bold text-muted">Nothing too crazy</h1>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                laboris nisi ut aliquip ex ea commodo consequat.
            </p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                <button type="button" class="btn btn-primary btn-lg px-4 gap-3" onclick="location.href='{% url 'about' %}'">Learn More</button>
            </div>
        </div>
      </div>
</div>
{% endblock %}