{% extends 'base.html' %} {% load static %} {% block content %}
<div class="container">
    <div class="row align-items-center mb-4">
        <div class="col">
            <h2>Prescribers</h2>
        </div>
        <div class="col">
            <div class="d-flex">
                <input type="text" class="form-control me-3" id="searchPrescribers" placeholder="Seach Prescribers">
                <button type="button" class="btn btn-primary btn-block" onclick="location.href='{% url 'createprescriber' %}'">Add</button>
            </div>
        </div>
    </div>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
        ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
        voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
        non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
    <table class="table table-hover table-borderless">
        <thead>
        <tr>
            <th scope="col">Prescriber Name</th>
            <th scope="col">Location</th>
            <th scope="col">Specialty</th>
        </tr>
        </thead>
        <tbody>
            <tr class="click-prescriber" onclick="location.href='{% url 'viewprescriber' %}'">
                <th scope="row">John Doe</th>
                <td>Utah</td>
                <td>Dentist</td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}