{% extends 'base.html' %} {% load static %} {% block content %}
<div class="container">

    <div class="row align-items-center mb-3">
        <div class="col">
            <h2>Prescribers</h2>
        </div>
        <div class="col">
            <div class="d-flex">
                <input type="text" class="form-control me-3" id="search" onkeyup="searchTable()" placeholder="Seach Prescribers">
                <button type="button" class="btn btn-primary btn-block" onclick="location.href='{% url 'createprescriber' %}'">Add</button>
            </div>
        </div>
    </div>

    <p class='mb-4'>
        Prescribers are licenced, registered, and given permission by the U.S to prescribe prescriptions to patients.
        Listed below is the personal information for each prescriber including their name, specialty, location, gender, and credentials.
        You can click on each prescriber to find out more information on them.
    </p>

    <div class="overflow-auto mb-5 myTable" style="max-height: 70vh;">
        <div class="table-responsive">
            <table id="table" class="table table-hover table-borderless table-responsive">
                <thead>
                    <tr>
                        <th scope="col" class="col-3">Name</th>
                        <th scope="col" class="col-3">Specialty</th>
                        <th scope="col" class="col-3 text-center">Location</th>
                        <th scope="col" class="col-3 text-center">Gender</th>
                    </tr>
                </thead>
                <tbody>
                    {% for prescriber in prescribers %}
                        <tr class="click-prescriber" onclick="location.href='/{{prescriber.npi}}'">
                            <td scope="row" class="col-3">{{prescriber.fname}} {{prescriber.lname}}</td>
                            <td scope="row" class="col-3">{{prescriber.specialty}}</td>
                            <td scope="row" class="col-3 text-center">{{prescriber.state_id}}</td>
                            <td scope="row" class="col-3 text-center">
                                {% if prescriber.gender.lower == 'm' %}
                                    Male
                                {% else %}
                                    Female
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

</div>
{% endblock %}