{% extends 'base.html' %} {% load static %} {% block content %}
<div class="container">
    {% if drug.isopioid == "TRUE" %}
        <div class="alert alert-danger mb-4" role="alert">
            <strong>Warning:</strong> {{drug.drugname.capitalize}} is an opioid and can lead to addiction.
        </div>
    {% endif %}
    <h2>{{drug}}</h2>
    <p class="mb-5">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
        ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
        voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
        non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
    <h3 class="mb-3">Top Prescribers of {{drug}}</h3>
    <table id="prescribersTable" class="table table-hover table-borderless">
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Location</th>
            <th scope="col">Specialty</th>
            <th scope="col">Gender</th>
        </tr>
        </thead>
        <tbody>
            {% for item in top_ten %}
                <tr class="click-drug" onclick="location.href='/{{item.npi}}'">
                    <td>{{item.full_name}}</td>
                    <td>{{item.state_id}}</td>
                    <td>{{item.specialty}}</td>
                    <td>
                        {% if item.gender.lower == 'm' %}
                            Male
                        {% else %}
                            Female
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}