{% extends 'base.html' %} {% load static %} {% block content %}
<div class="container">

    <h1 class="display-4 mb-4">{{drug.drugname.lower}}</h1>

    {% if drug.isopioid == "TRUE" %}
        <div class="alert alert-danger mb-5" role="alert">
            <strong>Warning:</strong> {{drug.drugname.lower}} is an opioid and can lead to addiction.
        </div>
    {% endif %}
    
    <h3 class="mb-3 text-muted">Top prescribers of <span class='text-dark'>{{drug.drugname.lower}}</span></h3>
    <div class="table-responsive">
        <table id="prescribersTable" class="table table-hover table-borderless table-sm">
            <thead>
                <tr>
                    <th scope="col" class="col-3">Name</th>
                    <th scope="col" class="col-5">Specialty</th>
                    <th scope="col" class="col-2 text-center">Location</th>
                    <th scope="col" class="col-2 text-center">Amount</th>
                </tr>
            </thead>
            <tbody>
                {% for item in top_ten %}
                    <tr class="click-drug" onclick="location.href='/{{item.npi}}'">
                        <td scope="row" class="col-3">{{item.full_name}}</td>
                        <td scope="row" class="col-5 text-truncate">{{item.specialty}}</td>
                        <td scope="row" class="col-2 text-center">{{item.state_id}}</td>
                        <td scope="row" class="col-2 text-center">{{item.qty}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}