{% extends 'base.html' %} {% load static %} {% block content %}
<div class="container">
    {% if prescriber.isopioidprescriber.lower == 'true' %}
        <div class="alert alert-success mb-4" role="alert">
            {{prescriber.fname}} {{prescriber.lname}} is authorized to prescribe opioids
        </div>
    {% else %}
        <div class="alert alert-danger mb-4" role="alert">
            {{prescriber.fname}} {{prescriber.lname}} is <strong>NOT</strong> authorized to prescribe opioids
        </div>
    {% endif %}
    <div class="card mb-5">
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-3">Name</dt>
                <dd class="col-sm-9">{{prescriber.fname}} {{prescriber.lname}}</dd>
              
                <dt class="col-sm-3">Gender</dt>
                <dd class="col-sm-9">
                    {% if prescriber.gender.lower == 'm' %}
                        Male
                    {% else %}
                        Female
                    {% endif %}
                </dd>
              
                <dt class="col-sm-3">State</dt>
                <dd class="col-sm-9">{{prescriber.state.state}}</dd>
    
                <dt class="col-sm-3">Specialty</dt>
                <dd class="col-sm-9">{{prescriber.specialty}}</dd>
              
                <dt class="col-sm-3 text-truncate">National Provider Number</dt>
                <dd class="col-sm-9">{{prescriber.npi}}</dd>
    
                <dt class="col-sm-3">Credentials</dt>
                <dd class="col-sm-9">
                    {% if prescriber.credentials is null %}
                        {{prescriber.credentials}}
                    {% else %}
                        None
                    {% endif %}
                </dd>
    
                <dt class="col-sm-3 text-truncate">Total Drugs Prescribed</dt>
                <dd class="col-sm-9">{{prescriber.totalprescriptions}}</dd>
            </dl>
        </div>
        <div class="card-footer d-flex justify-content-end gap-2">
            <button type="button" class="btn btn-secondary btn-sm" value="Click Me" name="editPrescriber" onclick="location.href='{% url 'editprescriber' npi=prescriber.npi fname=prescriber.fname lname=prescriber.lname %}'">Edit</button>
            <button type="submit" class="btn btn-danger btn-sm">Delete</button>
        </div>
    </div>
    <h3 class="mb-3">Drugs Prescribed by {{prescriber.fname}} {{prescriber.lname}}</h3>
    <table class="table table-hover table-borderless table-sm">
        <thead>
            <tr>
                <th scope="col">Drug Name</th>
                <th scope="col">Average</th>
                <th scope="col">Amount</th>
            </tr>
        </thead>
        <tbody>
            <tr class="click-drug">
                <th scope="row">Oxycontin</th>
                <td>12</td>
                <td>10</td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}